<nav class="navbar navbar-expand-md d-flex justify-content-between">
  <div class="d-flex">
    <p class="isc-breadcrumb-home">
      <a [routerLink]="['/']" (click)="topicNameChanged('Home')">ISC Quang Trung</a>
    </p>
    <p class="isc-breadcrumb-topic">
      <a>{{ topicName }}</a>
    </p>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item mr-1">
      <!-- Survey info -->
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-animated">
          Survey <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Intake statistics')">Intake statistics</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Student statistics')">Student statistics</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Trainee statistics')">Trainee statistics</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item mr-1">
      <!-- Connection info -->
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-animated">
          Connection <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/universities']"
              (click)="topicNameChanged('University')">University</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/companies']"
              (click)="topicNameChanged('Company')">Company</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item mr-1">
      <!-- Education info -->
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-animated">
          Education <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/intakes']"
              (click)="topicNameChanged('Intake')">Intake</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/educationPrograms']"
              (click)="topicNameChanged('Education Program')">Education Program</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Subject')">Subject</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Class')">Class</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Timetable')">Timetable</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item mr-1">
      <!-- Management info -->
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-animated">
          Management <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Trainee')">Trainee</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Lecturer')">Lecturer</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/interviews']"
              (click)="topicNameChanged('Interview')">Interview</a></li>
          <!-- <li role="menuitem"><a class="dropdown-item" [routerLink]="['/lists']"
              (click)="topicNameChanged('Payment')">Payment</a></li> -->
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admins']"
              (click)="topicNameChanged('Administrator')">Administrator</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <!-- Admin login -->
  <div class="dropdown" dropdown>
    <span class="mr-2">
      <img src="{{photoUrl}}" alt="">
    </span>
    <a class="dropdown-toggle text-light name" dropdownToggle>
      Welcome {{authService.decodedToken?.unique_name | titlecase}}
    </a>

    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/admins', authService.decodedToken?.nameid, 'edit']"
        (click)="topicNameChanged('Administrator')"><i class="fa fa-user mr-4"></i>Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out mr-4"></i>Logout</a>
    </div>
  </div>
</nav>
