<div class="row mb-2">
  <div class="col-6 d-flex justify-content-start">
    <h3 class="text-info">Intake list</h3>
  </div>
</div>
<div class="row mb-2">
  <div class="col-6 d-flex justify-content-start">
    <form class="form-inline">
      <input class="form-control mr-sm-2 border-info" type="text" placeholder="Search">
      <button class="btn btn-info" type="submit">Search</button>
    </form>
  </div>
  <div class="col-6  d-flex justify-content-end">
    <button class="btn btn-info" (click)="openAddModal(addTemplate)">Add new</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date begin</th>
      <th scope="col">Date end</th>
      <th scope="col">Week amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intake of intakes; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ intake.name }}</td>
      <td>{{ intake.dateBegin }}</td>
      <td>{{ intake.dateEnd }}</td>
      <td>{{ intake.weekAmount }}</td>
      <td>
        <span><abbr title="edit"><i class="fa fa-pencil-square-o intake-edit" aria-hidden="true"
              (click)="openEditModal(editTemplate, intake)"></i></abbr></span> -
        <span><abbr title="remove"><i class="fa fa-trash-o intake-remove" aria-hidden="true"
              (click)="openRemoveModal(removeTemplate, intake)"></i></abbr></span>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal Add template -->
<ng-template #addTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add intake</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addForm="ngForm" id="addForm" (ngSubmit)="addIntake()">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" name="Name" class="form-control" [(ngModel)]="intakeForAdd.name">
      </div>
      <div class="form-group">
        <label class="control-label">Date begin</label>
        <input type="date" name="DateBegin" class="form-control" [value]="intakeForAdd.dateBegin | date:'yyyy-MM-dd'"
          (input)="intakeForAdd.dateBegin = parseDate($event.target.value)">
      </div>
      <div class="form-group">
        <label class="control-label">Date end</label>
        <input type="date" name="DateEnd" class="form-control" [value]="intakeForAdd.dateEnd | date:'yyyy-MM-dd'"
          (input)="intakeForAdd.dateEnd = parseDate($event.target.value)">
      </div>
      <div class="form-group">
        <label class="control-label">Week amount</label>
        <input type="number" name="WeekAmount" class="form-control" [(ngModel)]="intakeForAdd.weekAmount">
      </div>
    </form>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-success" form="addForm" type="submit" [disabled]="!addForm.valid">Add</button>
  </div>
</ng-template>
<!-- Modal Edit template -->
<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit intake</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateIntake()">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" name="Name" class="form-control" [(ngModel)]="intakeForEdit.name">
      </div>
      <div class="form-group">
        <label class="control-label">Date begin</label>
        <input type="date" name="DateBegin" class="form-control" [value]="intakeForEdit.dateBegin | date:'yyyy-MM-dd'"
          (input)="editIntake.dateBegin = parseDate($event.target.value)">
      </div>
      <div class="form-group">
        <label class="control-label">Date end</label>
        <input type="date" name="DateEnd" class="form-control" [value]="intakeForEdit.dateEnd | date:'yyyy-MM-dd'"
          (input)="editIntake.dateEnd = parseDate($event.target.value)">
      </div>
      <div class="form-group">
        <label class="control-label">Week amount</label>
        <input type="number" name="WeekAmount" class="form-control" [(ngModel)]="intakeForEdit.weekAmount">
      </div>
    </form>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-success" form="editForm" type="submit" [disabled]="!editForm.valid">Update</button>
  </div>
</ng-template>
<!-- Modal Remove template -->
<ng-template #removeTemplate>
  <div class="modal-body text-center">
    <p>Do you want to remove this {{ intakeForRemove.name }}?</p>
    <button type="button" class="btn btn-outline-primary mr-2" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
