.tb-col-1 {
  width: 10%;
}

.tb-col-2 {
  width: 20%;
}

.tb-col-3 {
  width: 15%;
}

.tb-col-4 {
  width: 15%;
}

.tb-col-5 {
  width: 15%;
}

.tb-col-6 {
  width: 15%;
}


timepicker {
  margin-top: .35rem;
}
