<h4>Edit</h4>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input
      required
      name="name"
      #name="ngModel"
      [ngModel]="intake.name"
      type="text"
      class="form-control" />
    <div *ngIf="name.invalid && name.touched" class="help-block">
      Name is required!</div>
  </div>
  <div class="form-group">
    <label class="control-label">Week count</label>
    <input
      required
      name="weekCount"
      #weekCount="ngModel"
      [ngModel]="intake.weekCount"
      type="number"
      class="form-control"
      (input)="insertValidator()" />
    <div *ngIf="weekCount.invalid && weekCount.touched" class="help-block">
      Week count is required!</div>
    <div
      *ngIf="weekCount.hasError('errorValue') && weekCount.value !== null"
      class="help-block">
      Week count is not right!</div>
  </div>
  <div class="form-group">
    <label class="control-label">Date begin</label>
    <input
      required
      name="dateBegin"
      #dateBegin="ngModel"
      [ngModel]="intake.dateBegin | date: 'yyyy-MM-dd'"
      type="date"
      class="form-control" />
    <div *ngIf="dateBegin.invalid && dateBegin.touched" class="help-block">
      Date begin is required!</div>
  </div>
  <div class="form-group">
    <label class="control-label">Education program</label>
    <select
      [ngModel]="intake.educationProgram.id"
      name="eduProgId"
      class="form-control">
      <option *ngFor="let edu of eduPrograms" [value]="edu.id">{{eduPrograms?.length < 0 ? intake.educationProgram.name : edu.name}}</option>
    </select>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary mr-1 mb-1 w-50" [disabled]="!f.valid">Update</button>
    <button type="button" class="btn btn-dark w-50" (click)="closeEmitter.emit()">Close</button>
  </div>
<!-- </form>

<div>
  <p>status: {{f.status | json}}</p>
  <p>dirty: {{f.dirty | json}}</p>
  <p>valid: {{f.valid | json}}</p>
  <p>value: {{f.value | json}}</p>
</div> -->