<div class="row mb-2">
  <div class="col-md-5 pt-2">

    <h4>Interview Filter</h4>
    <form [formGroup]="filterForm">
      <div class="mr-1">
        <label>Name:</label>
        <input class="form-control" type="text" placeholder="Enter name" formControlName="name"
          (input)="loadInterviews()" />
      </div>
      <div>
        <label>Date from:</label>
        <input class="form-control" type="date" placeholder="Enter date" formControlName="date"
          (change)="loadInterviews()" />
      </div>
    </form>
    <div class="text-right">
      <button class="btn btn-dark" type="button" (click)="resetFilter()">Reset Filter</button>
    </div>

    <div class="d-flex mb-1">
      <h4>Interview table:</h4>
      <button class="btn btn-success btn-add ml-2" (click)="openModal(addModal)">Add</button>
    </div>
    <div class="table-content">
      <table class="table table-hover table-striped table-light">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="interviews.length <= 0">
            <td colspan="4" class="emtpy-table-content">
              Empty...
            </td>
          </tr>
          <tr *ngFor="let interview of interviews; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ interview.name }}</td>
            <td>{{ interview.date | date: 'mediumDate'}}</td>
            <td>
              <span class="text-primary" (click)="openModal(editModal, interview)">
                <abbr title="edit">
                  <i class="fa fa-pencil-square-o extend-size-1" aria-hidden="true"></i>
                </abbr>
              </span> -
              <span class="text-danger" (click)="remove(interview)">
                <abbr title="delete">
                  <i class="fa fa-trash-o extend-size-1" aria-hidden="true"></i>
                </abbr>
              </span> -
              <span class="text-success" (click)="studentService.changeInterviewId(interview.id)">
                <abbr title="view student list">
                  <i class="fa fa-eye extend-size-1" aria-hidden="true"></i>
                </abbr>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between">
      <pagination [boundaryLinks]="true" [maxSize]="3" [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="First"
        lastText="Last">
      </pagination>

      <div class="d-flex">
        <p class="mt-2 mb-0 mr-4">Total: <span class="text-primary">{{ pagination.totalItems }} items</span></p>

        <div class="form-inline" style="padding-bottom: .85rem;">
          <label>Page size: </label>
          <select class="form-control ml-2 pl-2 border-info" [(ngModel)]="pagination.itemsPerPage" name="pageSize"
            (change)="loadInterviews()">
            <option *ngFor="let pageSize of pageSizeList" [value]="pageSize.value">{{pageSize.display}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 pt-2">
    <app-student></app-student>
  </div>
</div>

<ng-template #addModal>
  <div>
    <app-interview-add
      [lastPage]=pagination.totalPages
      (lastPageEmitter)="loadAfterHandle($event)"
      (closeEmitter)="this.addModalRef.hide()">
    </app-interview-add>
  </div>
</ng-template>
<ng-template #editModal>
  <div>
    <app-interview-edit
      [interview]=interview
      [currentPage]="currentPage"
      (currentPageEmitter)="loadAfterHandle($event)"
      (closeEmitter)="this.editModalRef.hide()">
    </app-interview-edit>
  </div>
</ng-template>