.extend-size-1:hover {
  transform: scale(1.5);
}

.table-content {
  max-height: 310px;
  overflow: auto;
  margin-bottom: .5rem;
}

table {
  border: 1px solid rgb(235, 235, 235);
}

form {
  display: flex;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding: .5rem;
}

form,
.table-content,
.border-info {
  border: 1px solid #17a2b8 !important;
  border-radius: .5rem;
}

td abbr {
  cursor: pointer;
}

button.btn-add {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  padding-left: 1.2rem;
}