<aside>
  <section>
    <ul class="list-group">
      <!-- Catalogs -->
      <a class="list-group-item list-group-item-action disabled text-light bg-dark d-flex">
        <span class="mr-auto">CATALOGS</span>
        <span><i class="fa fa-hand-o-left" aria-hidden="true"></i></span>
      </a>
      <!-- Administrators -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['admin']" routerLinkActive="active">
        <i class="fa fa-user-secret col-1" aria-hidden="true"></i>
        <span class="col-11">Administrators</span>
      </a>
      <!-- Intake -->
      <a class="list-group-item list-group-item-action row intake" [routerLink]="['intake']" routerLinkActive="active">
        <i class="fa fa-graduation-cap col-1" aria-hidden="true"></i>
        <span class="col-11">Intake</span>
      </a>
      <!-- Study Programming -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/study-programming']"
        routerLinkActive="active">
        <i class="fa fa-tasks col-1" aria-hidden="true"></i>
        <span class="col-11">Study Programming</span>
      </a>
      <!-- Trainee -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/trainee']"
        routerLinkActive="active">
        <i class="fa fa-id-card col-1" aria-hidden="true"></i>
        <span class="col-11">Trainee</span>
      </a>
      <!-- Class -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/class']"
        routerLinkActive="active">
        <i class="fa fa-coffee col-1" aria-hidden="true"></i>
        <span class="col-11">Class</span>
      </a>
      <!-- Timetable -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/timetable']"
        routerLinkActive="active">
        <i class="fa fa-calendar col-1" aria-hidden="true"></i>
        <span class="col-11">Timetable</span>
      </a>
      <!-- WorkTrack -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/worktrack']"
        routerLinkActive="active">
        <i class="fa fa-code-fork col-1" aria-hidden="true"></i>
        <span class="col-11">WorkTrack</span>
      </a>
      <!-- Interview -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/intake/detail/interview']"
        routerLinkActive="active">
        <i class="fa fa-search-plus col-1" aria-hidden="true"></i>
        <span class="col-11">Interview</span>
      </a>
      <!-- Subject -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/subjects']" routerLinkActive="active">
        <i class="fa fa-bookmark col-1" aria-hidden="true"></i>
        <span class="col-11">Subject</span>
      </a>
      <!-- Lecturer -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/lecturers']" routerLinkActive="active">
        <i class="fa fa-id-card col-1" aria-hidden="true"></i>
        <span class="col-11">Lecturer</span>
      </a>
      <!-- University -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/universities']" routerLinkActive="active">
        <i class="fa fa-university col-1" aria-hidden="true"></i>
        <span class="col-11">University</span>
      </a>
      <!-- Company -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/companies']" routerLinkActive="active">
        <i class="fa fa-building col-1" aria-hidden="true"></i>
        <span class="col-11">Company</span>
      </a>
      <!-- Payment -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/payments']" routerLinkActive="active">
        <i class="fa fa-money col-1" aria-hidden="true"></i>
        <span class="col-11">Payment</span>
      </a>
      <!-- Student -->
      <a class="list-group-item list-group-item-action row" [routerLink]="['/student']" routerLinkActive="active">
        <i class="fa fa-id-card-o col-1" aria-hidden="true"></i>
        <span class="col-11">Student</span>
      </a>
      <!-- <a class="list-group-item list-group-item-action row" [routerLink]="['/intake-statistics']"
        routerLinkActive="active">
        <i class="fa fa-line-chart col-1" aria-hidden="true"></i>
        <span class="col-11">Intake statistics</span>
      </a>
      <a class="list-group-item list-group-item-action row" [routerLink]="['/student-statistics']"
        routerLinkActive="active">
        <i class="fa fa-line-chart col-1" aria-hidden="true"></i>
        <span class="col-11">Student statistics</span>
      </a>
      <a class="list-group-item list-group-item-action row" [routerLink]="['/trainee-statistics']"
        routerLinkActive="active">
        <i class="fa fa-line-chart col-1" aria-hidden="true"></i>
        <span class="col-11">Trainee statistics</span>
      </a> -->
    </ul>
  </section>
</aside>
