<h4>Add new</h4>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input
      required
      #name="ngModel"
      ngModel
      type="text"
      name="name"
      class="form-control" />
    <small
      *ngIf="name.invalid && name.touched"
      class="help-block">
      Name is required!
    </small>
  </div>
  <div class="form-group">
    <label class="control-label">Week amount</label>
    <input
      required
      #weekAmount="ngModel"
      ngModel
      type="number"
      name="weekAmount"
      class="form-control" />
    <small
      *ngIf="weekAmount.invalid && weekAmount.touched"
      class="help-block">
      Week amount is required!
    </small>
    <small
      *ngIf="weekAmount.value < 0 && weekAmount.touched"
      class="help-block">
      Week amount is not right!
    </small>
  </div>
  <div class="form-group">
    <label class="control-label">Date begin</label>
    <input
      required
      #dateBegin="ngModel"
      ngModel
      type="date"
      name="dateBegin"
      class="form-control" />
    <small
      *ngIf="dateBegin.invalid && dateBegin.touched"
      class="help-block">
      Date begin is required!
    </small>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary mr-1 mb-1 w-50" [disabled]="!f.valid">Add new</button>
    <button type="button" class="btn btn-dark w-50" (click)="closeEmitter.emit()">Close</button>
  </div>
</form>
<!-- 
<div>
  <p>status: {{f.status | json}}</p>
  <p>dirty: {{f.dirty | json}}</p>
  <p>valid: {{f.valid | json}}</p>
  <p>value: {{f.value | json}}</p>
</div> -->