<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 text-right">
      <h1>{{ admin?.username.charAt(0).toUpperCase() + admin?.username.slice(1) }}</h1>
    </div>
  </div>
  <div class="row">
    <!-- Image -->
    <div class="col-sm-4">
      <div class="card">
        <img src="{{photoUrl}}" alt="{{'admin?.knownAs'}}"
          class="card-img-top img-thumbnail">
      </div>
    </div>
    <!-- Edition -->
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <!-- Tab: Edit Profile -->
          <tab heading="Edit Profile">
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" #editProfileForm="ngForm">
              <!-- Username -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-7 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" name="username" disabled 
                    value="{{admin?.username}}"/>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Username -->
              <!-- Created -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Created</label>
                <div class="col-sm-7 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" name="created" disabled
                    value="{{admin?.created | date: 'medium'}}" />
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Created -->
              <!-- Last active -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Last active</label>
                <div class="col-sm-7 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" name="lastActive" disabled
                    value="{{admin?.lastActive | timeAgo}}" />
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Last active -->
              <!-- Gender -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Gender</label>
                <div class="col-sm-7 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-transgender" aria-hidden="true"></i></span>
                  </div>
                  <select class="form-control" formControlName="gender" (change)="modifyProfile()">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Gender -->
              <!-- Email -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-plane" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="email" (change)="modifyProfile()" />
                  </div>
                  <!-- Error email handler -->
                  <small class="help-block"
                    *ngIf="profileForm.get('email').hasError('email') && profileForm.get('email').touched">
                    Please enter a valid email!
                  </small>
                  <small class="help-block"
                    *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
                    Email is required!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Email -->
              <!-- Phone -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="phone" (change)="modifyProfile()" />
                  </div>
                  <!-- Error phone handler -->
                  <small class="help-block"
                    *ngIf="profileForm.get('phone').invalid && profileForm.get('phone').touched">
                    Phone is required!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Phone -->
              <!-- Address -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Address</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="address" (change)="modifyProfile()" />
                  </div>
                  <!-- Error address handler -->
                  <small class="help-block"
                    *ngIf="profileForm.get('address').invalid && profileForm.get('address').touched">
                    Address is required!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Address -->

              <!-- button grouop -->
              <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7 text-right">
                  <button class="btn btn-success" type="button" (click)="resetProfile()"
                    [disabled]="profileForm.valid === true && profileMode === true ? false : true">Reset</button>
                  <button class="btn btn-info ml-2" type="submit"
                    [disabled]="profileForm.valid === true && profileMode === true ? false : true">Save
                    changes</button>
                </div>
                <div class="col-sm-2"></div>
              </div>

            </form>
          </tab>
          <!-- Tab: Edit Password -->
          <tab heading="Edit Password">
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
              <!-- Old Password -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">Old password</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="oldPassword" (change)="modifyPassword()" />
                  </div>
                  <!-- Error password handler -->
                  <small class="help-block"
                    *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword').touched">
                    Password is required!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Old Password -->
              <!-- New Password -->
              <div class="form-group row">
                <label class="col-sm-3 control-label">New password</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="newPassword" #newPass (change)="modifyPassword()" />
                  </div>
                  <!-- Error password handler -->
                  <small class="help-block"
                    *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched">
                    Password is required!
                  </small>
                  <small class="help-block"
                    *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').touched">
                    Password must be at least 4 characters!
                  </small>
                  <small class="help-block"
                    *ngIf="passwordForm.get('newPassword').hasError('maxlength') && passwordForm.get('newPassword').touched">
                    Password cannot exceed 8 characters!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: New Password -->
              <!-- Reqpeat password -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-nowrap">Reqpeat password</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="repeatPassword" (change)="modifyPassword()" />
                  </div>
                  <!-- Error repeatPassword handler -->
                  <small class="help-block"
                    *ngIf="passwordForm.get('repeatPassword').hasError('required') && passwordForm.get('repeatPassword').touched">
                    Repeat password is required!
                  </small>
                  <small class="help-block"
                    *ngIf="passwordForm.get('repeatPassword').hasError('mismatch') && passwordForm.get('repeatPassword').touched">
                    Repeat password is not match!
                  </small>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <!-- End: Reqpeat password -->

              <!-- button grouop -->
              <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7 text-right">
                  <button class="btn btn-success" type="button" (click)="resetPassword()"
                    [disabled]="passwordForm.valid === true && passwordMode === true ? false : true">Reset</button>
                  <button class="btn btn-info ml-2" type="submit"
                    [disabled]="passwordForm.valid === true && passwordMode === true ? false : true">Save
                    changes</button>
                </div>
                <div class="col-sm-2"></div>
              </div>

            </form>
          </tab>
          <!-- Tab: Edit Photos -->
          <tab heading="Edit Photos">
            <app-photo-editor [photos]="admin.photos"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
