<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img src="{{admin?.photoURL}}" alt="{{'admin?.knownAs'}}" class="card-img-top img-thumbnail">
      <div class="card-body mb-2">
        
        <div class="card-footer text-capitalize text-center bg-info">
          <h3>{{admin.username}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Email">
          <p>{{admin?.email}}</p>
        </tab>
        <tab heading="Photos">
          <h4>Photos</h4>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </tab>
      </tabset>
    </div>
  </div>
</div>